name: Check
on:
  pull_request:
    branches:
      - master
      - next

concurrency:
  group: concurrency-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.24.3"
      - run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH
      - run: dart pub global activate melos
      - run: melos run check_master
      - name: Store failure artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: golden-test-failure
          path: "**/test/failures/"
